.button-wrapper{
    cursor: pointer;
    background-color: var(--white);
    color: var(--bg-black);
    border-radius: 40px;
    padding: 20px 65px;
    font-size: 24px;
    font-weight: 700;
    width: max-content;
}

@media all and (max-width: 767px) {
    .button-wrapper{
        font-size: 18px;
        padding: 16px 24px;
    }
}
